body {
    background-color: #f0f0f0;
}

nav a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #333;
}

nav {
    text-align: center;
}

main {
    display: block;
    text-align: center;
    background-color: #fff;
    margin: 10px auto;
    padding: 15px;
    width: 240px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    padding-left: 0px;

}

ul li {
    display: block;
}